.contact {
  display: flex;
  font-family: "Lato", sans-serif;
  font-family: "Roboto Condensed", sans-serif;
  height: 300px;
  margin-top: 370px;
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 300px;
  flex-direction: column;
  justify-content: center; 
  overflow: hidden;

  .heading {
    justify-content: center;
    max-width: 1140px;
    margin: auto;
    overflow: hidden;

    h2 {
      font-size: 48px;
      position: relative;
      height: 100%;
    }
  }

  .text {
    justify-content: center;
    max-width: 1140px;
    margin: auto;
    text-align: center;
    font-size: 19px;
    overflow: hidden;

    h3 {
      font-size: 38px;
      font-weight: bold;
      position: relative;
    }
  }
}
