.privacypolicy {
    display: flex;
    font-family: "Lato", sans-serif;
    font-family: "Roboto Condensed", sans-serif;
    margin-top: 170px;
    margin-left: 20px;
    margin-right: 20px;
    flex-direction: column; 
    justify-content: center;

    .heading{
      justify-content: center;
      max-width: 1140px;
      margin: auto;

      h1{
        margin-top: 20px;
        margin-bottom: 20px;
        overflow: hidden;
      }
    }
  
  .text{
    justify-content: center;
    max-width: 1140px;
    margin: auto;

    h2{
      margin-top: 20px;
      overflow: hidden;
    }

    h3{
      margin-top: 20px;
      overflow: hidden;
    }
  }
  }
