@import "../../global.scss";

.topbar {
  background-color: darkgrey;
  width: 100vw;
  height: 90px;
  position: absolute;
  top: 0;
  transition: all 1s ease;
  justify-content: center;
  align-items: center;
  text-align: center;
  z-index: 3;
  display: flex;

  .left{
    flex: 0.15;
  }


  .middle {
    display: flex;
    margin: auto;
    height: 90px;
    top: 8px;
    flex: 0.7;

    a {
      display: block;
      margin: auto;
      text-align: center;
      width: 100%;
      justify-content: center;
      align-items: center;
    }
  

  .right {
    display: inline-block;
    flex: 0.15;
    
  }
}
}
