@import "../../global.scss";

.topbar2 {
  background-color: grey;
  width: 100%;
  height: 60px;
  position: absolute;
  top: 90px;
  transition: all 1s ease;
  justify-content: center;
  text-align: center;
  align-items: center;
  z-index: 999;
  display: flex;
  overflow: visible;

  ul {
    display: flex;
    grid-template-columns: repeat(6, auto);
    grid-gap: 70px;
    vertical-align: middle;

    li {
      margin: 0;
      padding: 0;
      float: left;

      a {
        color: white;
        font-weight: bold;
        text-decoration: none;
        font-size: 1.3rem;
        overflow: hidden;
        text-align: center;
        display: block;

        .submenu-competitions {
          display: none;
          position: absolute;
          background-color: #f1f1f1;
          top: 40px;
          width: 150px;
          box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
          z-index: 999;
          align-items: center;
          text-align: center;
        }

        .submenu-competitions a {
          color: black;
          text-decoration: none;
          display: block;
          position: relative;
          padding: 10px;
        }
        .submenu-competitions a:hover {
          color: $mainColor2;
          text-decoration: none;
          display: block;
          position: relative;
          padding: 10px;
        }

        .submenu-results {
          display: none;
          position: absolute;
          background-color: #f1f1f1;
          top: 40px;
          width: 150px;
          box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
          z-index: 999;
        }

        .submenu-results a {
          color: black;
          text-decoration: none;
          display: block;
          position: relative;
        }
        .submenu-results a:hover {
          color: $mainColor2;
          text-decoration: none;
          display: block;
          position: relative;
        }

        .submenu-about {
          display: none;
          position: absolute;
          background-color: #f1f1f1;
          top: 40px;
          width: 150px;
          box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
          z-index: 999;
          align-items: center;
          text-align: center;
        }

        .submenu-about a {
          color: black;
          text-decoration: none;
          display: block;
          position: relative;
        }

        .submenu-about a:hover {
          color: $mainColor2;
          text-decoration: none;
          display: block;
          position: relative;
        }
      }
      a:hover {
        text-decoration: none;
        color: $mainColor2;
      }
    }
  }
}

.competitionslink:hover .submenu-competitions {
  display: block;
  opacity: 1;
  visibility: visible;
  position: absolute;
  z-index: 99;
}

.resultslink:hover .submenu-results {
  display: block;
  opacity: 1;
  visibility: visible;
  position: absolute;
  z-index: 99;
}

.aboutlink:hover .submenu-about {
  display: block;
  opacity: 1;
  visibility: visible;
  position: absolute;
  z-index: 99;
}
